---
import './style.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
const APP_URL = process.env.APP_URL;
---

<div class='schools'>
  <div id='schools' class='absolute top-[-82px]'></div>
  <div class='flex flex-col lg:flex-row w-full max-w-[1280px] gap-6 lg:gap-11 items-center lg:items-stretch'>
    <div class='flex flex-col items-center lg:items-start gap-6 px-4 py-8'>
      <div class='flex flex-col gap-6 w-full items-center lg:items-start justify-center'>
        <div class='flex flex-col gap-2 items-center lg:items-start justify-center'>
          <strong class='title bg-darkEmerald'>{l.schools.forSchools}</strong>
          <h3 class='text-2xl'>{l.schools.complete}</h3>
          <span>{l.schools.with}</span>
        </div>
        <a href={`${l.lang == 'VI' ? '' : '/en'}/#contact`} class='btn green w-full lg:w-[245px] z-10'
          >{l.btn.contact}</a
        >
      </div>
    </div>
    <img src={`/images/${l.lang == 'VI' ? 'vi' : '/en'}/for-schools-md.png`} alt='' class='hidden lg:flex' />
    <img src='/images/for-schools.png' alt='' class='lg:hidden w-full' />
  </div>
</div>
