.price {
  background: linear-gradient(176deg, #98d6fa 41.05%, #0c3c83 92.78%);
  @apply pb-20 relative;
}
ul.star {
  @apply flex flex-col gap-3 pb-2;
  li {
    @apply pl-8;
    // &:nth-child(2n + 1) {
    //   background: url('/images/blue-check.svg') no-repeat left 0px;
    // }
    // &:nth-child(2n) {
    background: url('/images/green-check.svg') no-repeat left 0px;
    // }
  }
}
.hide {
  display: none;
}
