---
import './schools.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
const APP_URL = process.env.APP_URL;
---

<div class='schools'>
  <div class='h-[82px] text-darkTeal'></div>
  <div class='schools-gradient'></div>
  <img class='schools-laptop hidden md:flex' src='/images/school-top-bg-md.svg' alt='' />
  <img class='schools-laptop md:hidden' src='/images/school-top-bg.svg' alt='' />
  <div class='flex w-full max-w-[1280px] h-full relative'>
    <div
      class='flex flex-col text-center gap-4 relative md:absolute md:left-[24px] xl:left-0 md:top-[126px] md:w-[459px] px-6 py-10'
    >
      <h1 class='text-2xl' set:html={l.schools.usefulTool} />
      <span>{l.schools.kyonsSchool}</span>
      <a href='/#contact' class='btn green'>
        {l.btn.trial}
      </a>
    </div>
  </div>
</div>
