$icomoon-font-family: "Kyons-Icon-Fonts" !default;
$icomoon-font-path: "fonts" !default;

$icon-Add: "\e900";
$icon-AddFriend: "\e901";
$icon-AddPhoto: "\e902";
$icon-Alarm: "\e903";
$icon-AlignCenter: "\e904";
$icon-AlignLeft: "\e905";
$icon-AlignRight: "\e906";
$icon-ArrowDown: "\e907";
$icon-ArrowDownStop: "\e908";
$icon-ArrowForward: "\e909";
$icon-ArrowLeft: "\e90a";
$icon-ArrowLeftStop: "\e90b";
$icon-ArrowRight: "\e90c";
$icon-ArrowRightStop: "\e90d";
$icon-ArrowSelector: "\e90e";
$icon-ArrowUp: "\e90f";
$icon-ArrowUpStop: "\e910";
$icon-BankTransfer: "\e911";
$icon-Birthday: "\e912";
$icon-Bookmark: "\e913";
$icon-BookmarkAdd: "\e914";
$icon-BookmarkRemove: "\e915";
$icon-BulletPoint: "\e916";
$icon-Calendar: "\e917";
$icon-CalendarViewDay: "\e918";
$icon-CalendarViewMonth: "\e919";
$icon-CalendarViewWeek: "\e91a";
$icon-Call: "\e91b";
$icon-CallTutor: "\e91c";
$icon-Cancel: "\e91d";
$icon-Card: "\e91e";
$icon-Carousel: "\e91f";
$icon-Cash: "\e920";
$icon-Chat: "\e921";
$icon-Check: "\e922";
$icon-Close: "\e923";
$icon-Crop: "\e924";
$icon-Delete: "\e925";
$icon-Document: "\e926";
$icon-Draw: "\e927";
$icon-Duplicate: "\e928";
$icon-Edit: "\e929";
$icon-EditText: "\e92a";
$icon-Email: "\e92b";
$icon-Eraser: "\e92c";
$icon-Error: "\e92d";
$icon-Facebook: "\e92e";
$icon-Filter: "\e92f";
$icon-Folder: "\e930";
$icon-FolderOpen: "\e931";
$icon-Google: "\e932";
$icon-GoogleMeet: "\e933";
$icon-Hanbook: "\e934";
$icon-Help: "\e935";
$icon-HintDocument: "\e936";
$icon-HintTutor: "\e937";
$icon-History: "\e938";
$icon-Home: "\e939";
$icon-Info: "\e93a";
$icon-insertText: "\e93b";
$icon-Inventory: "\e93c";
$icon-Keyboard: "\e93d";
$icon-KeyboardHide: "\e93e";
$icon-Label: "\e93f";
$icon-LessonContent: "\e940";
$icon-Lightbulb: "\e941";
$icon-LineWeight: "\e942";
$icon-Linkedin: "\e943";
$icon-Location: "\e944";
$icon-Lock: "\e945";
$icon-Map: "\e946";
$icon-MenuHamburger: "\e947";
$icon-MicOff: "\e948";
$icon-MicOn: "\e949";
$icon-Minimize: "\e94a";
$icon-Momo: "\e94b";
$icon-More: "\e94c";
$icon-NewFolder: "\e94d";
$icon-NewLabel: "\e94e";
$icon-NoteManagement: "\e94f";
$icon-Notification: "\e950";
$icon-OpenNew: "\e951";
$icon-Paypal: "\e952";
$icon-Phone: "\e953";
$icon-Preview: "\e954";
$icon-Profile: "\e955";
$icon-Redo: "\e956";
$icon-Reload: "\e957";
$icon-Reset: "\e958";
$icon-Save: "\e959";
$icon-Screenshot: "\e95a";
$icon-Search: "\e95b";
$icon-Send: "\e95c";
$icon-Settings: "\e95d";
$icon-Share: "\e95e";
$icon-Shop: "\e95f";
$icon-Sidebar: "\e960";
$icon-SignOut: "\e961";
$icon-Sort: "\e962";
$icon-Submit: "\e963";
$icon-Subscription: "\e964";
$icon-Subtract: "\e965";
$icon-Test: "\e966";
$icon-TextBold: "\e967";
$icon-TextItalic: "\e968";
$icon-TextUnderlined: "\e969";
$icon-Thumbnail: "\e96a";
$icon-Tiktok: "\e96b";
$icon-Time: "\e96c";
$icon-Undo: "\e96d";
$icon-VideocamOff: "\e96e";
$icon-VideocamOn: "\e96f";
$icon-Visibility: "\e970";
$icon-VisibilityOff: "\e971";
$icon-Work: "\e972";
$icon-ZaloPay: "\e973";

