@import 'tailwindcss/base';
@layer base {
  :root,
  ::after {
    --color-primaryBlue: theme('colors.primaryBlue');
    --color-orange: theme('colors.orange');
    --color-lightBlue-1: theme('colors.lightBlue.1');
    --color-lightOrange-1: theme('colors.lightOrange.1');
    --color-blueGrey-50: theme('colors.blueGrey.50');
    --color-blueGrey-300: theme('colors.blueGrey.300');
    --color-blueGrey-400: theme('colors.blueGrey.400');
    --color-blueGrey-500: theme('colors.blueGrey.500');
    --color-blueGrey-700: theme('colors.blueGrey.700');
    --color-white: theme('colors.white');
  }
}

$icomoon-font-family: 'Kyons-Icon-Fonts' !default;
$icomoon-font-path: '/fonts' !default;

$icon-Add: unquote('"\\e900"');
$icon-AddFriend: unquote('"\\e901"');
$icon-AddPhoto: unquote('"\\e902"');
$icon-Alarm: unquote('"\\e903"');
$icon-AlignCenter: unquote('"\\e904"');
$icon-AlignLeft: unquote('"\\e905"');
$icon-AlignRight: unquote('"\\e906"');
$icon-ArrowDownStop: unquote('"\\e907"');
$icon-ArrowForward: unquote('"\\e908"');
$icon-ArrowLeftStop: unquote('"\\e909"');
$icon-ArrowRightStop: unquote('"\\e90a"');
$icon-ArrowSelector: unquote('"\\e90b"');
$icon-ArrowUpStop: unquote('"\\e90c"');
$icon-BankTransfer: unquote('"\\e90d"');
$icon-Birthday: unquote('"\\e90e"');
$icon-Bookmark: unquote('"\\e90f"');
$icon-BookmarkAdd: unquote('"\\e910"');
$icon-BookmarkRemove: unquote('"\\e911"');
$icon-BulletList: unquote('"\\e912"');
$icon-BulletPoint: unquote('"\\e913"');
$icon-Calendar: unquote('"\\e914"');
$icon-CalendarViewDay: unquote('"\\e915"');
$icon-CalendarViewMonth: unquote('"\\e916"');
$icon-CalendarViewWeek: unquote('"\\e917"');
$icon-Call: unquote('"\\e918"');
$icon-CallTutor: unquote('"\\e919"');
$icon-Cancel: unquote('"\\e91a"');
$icon-Card: unquote('"\\e91b"');
$icon-Carousel: unquote('"\\e91c"');
$icon-Cash: unquote('"\\e91d"');
$icon-Chart: unquote('"\\e91e"');
$icon-Chat: unquote('"\\e91f"');
$icon-Check: unquote('"\\e920"');
$icon-ChevronDown: unquote('"\\e921"');
$icon-ChevronLeft: unquote('"\\e922"');
$icon-ChevronRight: unquote('"\\e923"');
$icon-ChevronUp: unquote('"\\e924"');
$icon-Close: unquote('"\\e925"');
$icon-Crop: unquote('"\\e926"');
$icon-Delete: unquote('"\\e927"');
$icon-Document: unquote('"\\e928"');
$icon-Done: unquote('"\\e929"');
$icon-Draw: unquote('"\\e92a"');
$icon-Duplicate: unquote('"\\e92b"');
$icon-Edit: unquote('"\\e92c"');
$icon-EditText: unquote('"\\e92d"');
$icon-Education: unquote('"\\e92e"');
$icon-Email: unquote('"\\e92f"');
$icon-Eraser: unquote('"\\e930"');
$icon-Error: unquote('"\\e931"');
$icon-Facebook: unquote('"\\e932"');
$icon-Filter: unquote('"\\e933"');
$icon-Folder: unquote('"\\e934"');
$icon-FolderOpen: unquote('"\\e935"');
$icon-Google: unquote('"\\e936"');
$icon-Hanbook: unquote('"\\e937"');
$icon-Hanbook-1: unquote('"\\e938"');
$icon-Help: unquote('"\\e939"');
$icon-HintDocument: unquote('"\\e93a"');
$icon-HintTutor: unquote('"\\e93b"');
$icon-History: unquote('"\\e93c"');
$icon-Home: unquote('"\\e93d"');
$icon-Info: unquote('"\\e93e"');
$icon-insertText: unquote('"\\e93f"');
$icon-Inventory: unquote('"\\e940"');
$icon-Keyboard: unquote('"\\e941"');
$icon-KeyboardHide: unquote('"\\e942"');
$icon-Label: unquote('"\\e943"');
$icon-LessonContent: unquote('"\\e944"');
$icon-Lightbulb: unquote('"\\e945"');
$icon-LineWeight: unquote('"\\e946"');
$icon-Link: unquote('"\\e947"');
$icon-Linkedin: unquote('"\\e948"');
$icon-Location: unquote('"\\e949"');
$icon-Lock: unquote('"\\e94a"');
$icon-Map: unquote('"\\e94b"');
$icon-MenuHamburger: unquote('"\\e94c"');
$icon-MicOff: unquote('"\\e94d"');
$icon-MicOn: unquote('"\\e94e"');
$icon-Minimize: unquote('"\\e94f"');
$icon-Momo: unquote('"\\e950"');
$icon-More: unquote('"\\e951"');
$icon-NewFolder: unquote('"\\e952"');
$icon-NewLabel: unquote('"\\e953"');
$icon-NewMeeting: unquote('"\\e954"');
$icon-NoteManagement: unquote('"\\e955"');
$icon-Notification: unquote('"\\e956"');
$icon-OpenNew: unquote('"\\e957"');
$icon-Paypal: unquote('"\\e958"');
$icon-Phone: unquote('"\\e959"');
$icon-Preview: unquote('"\\e95a"');
$icon-Profile: unquote('"\\e95b"');
$icon-ReadAll: unquote('"\\e95c"');
$icon-Redo: unquote('"\\e95d"');
$icon-Reload: unquote('"\\e95e"');
$icon-Reset: unquote('"\\e95f"');
$icon-Save: unquote('"\\e960"');
$icon-Screenshot: unquote('"\\e961"');
$icon-Search: unquote('"\\e962"');
$icon-Send: unquote('"\\e963"');
$icon-Settings: unquote('"\\e964"');
$icon-Share: unquote('"\\e965"');
$icon-Shop: unquote('"\\e966"');
$icon-Sidebar: unquote('"\\e967"');
$icon-SignOut: unquote('"\\e968"');
$icon-Sort: unquote('"\\e969"');
$icon-Submit: unquote('"\\e96a"');
$icon-Subscription: unquote('"\\e96b"');
$icon-Subtract: unquote('"\\e96c"');
$icon-Swap: unquote('"\\e96d"');
$icon-Test: unquote('"\\e96e"');
$icon-TextBold: unquote('"\\e96f"');
$icon-TextItalic: unquote('"\\e970"');
$icon-TextUnderlined: unquote('"\\e971"');
$icon-Thumbnail: unquote('"\\e972"');
$icon-Tiktok: unquote('"\\e973"');
$icon-Time: unquote('"\\e974"');
$icon-Undo: unquote('"\\e975"');
$icon-VideocamOff: unquote('"\\e976"');
$icon-VideocamOn: unquote('"\\e977"');
$icon-Visibility: unquote('"\\e978"');
$icon-VisibilityOff: unquote('"\\e979"');
$icon-Work: unquote('"\\e97a"');
$icon-ZaloPay: unquote('"\\e97b"');
