$icomoon-font-family: 'Kyons-Icon-Fonts' !default;
$icomoon-font-path: '/fonts' !default;

$icon-ArrowDownward: '\e964';
$icon-Add: '\e900';
$icon-AddFriend: '\e901';
$icon-AddPhoto: '\e902';
$icon-Alarm: '\e903';
$icon-AlignCenter: '\e904';
$icon-AlignLeft: '\e905';
$icon-AlignRight: '\e906';
$icon-ArrowDown: '\e907';
$icon-ArrowDownStop: '\e908';
$icon-ArrowForward: '\e909';
$icon-ArrowLeft: '\e90a';
$icon-ArrowLeftStop: '\e90b';
$icon-ArrowRight: '\e90c';
$icon-ArrowRightStop: '\e90d';
$icon-ArrowSelector: '\e90e';
$icon-ArrowUp: '\e90f';
$icon-ArrowUpStop: '\e910';
$icon-Birthday: '\e911';
$icon-Bookmark: '\e912';
$icon-BookmarkAdd: '\e913';
$icon-BookmarkRemove: '\e914';
$icon-BulletPoint: '\e915';
$icon-Calendar: '\e916';
$icon-Call: '\e917';
$icon-CallTutor: '\e918';
$icon-Cancel: '\e919';
$icon-Carousel: '\e91a';
$icon-Chat: '\e91b';
$icon-Check: '\e91c';
$icon-Close: '\e91d';
$icon-Crop: '\e91e';
$icon-Delete: '\e91f';
$icon-Document: '\e920';
$icon-Draw: '\e921';
$icon-Duplicate: '\e922';
$icon-Edit: '\e923';
$icon-EditText: '\e924';
$icon-Email: '\e925';
$icon-Eraser: '\e926';
$icon-Error: '\e927';
$icon-Filter: '\e928';
$icon-Folder: '\e929';
$icon-FolderOpen: '\e92a';
$icon-GoogleMeet: '\e92b';
$icon-Hanbook: '\e92c';
$icon-Help: '\e92d';
$icon-HintDocument: '\e92e';
$icon-HintTutor: '\e92f';
$icon-History: '\e930';
$icon-Home: '\e931';
$icon-Info: '\e932';
$icon-insertText: '\e933';
$icon-Inventory: '\e934';
$icon-Keyboard: '\e935';
$icon-KeyboardHide: '\e936';
$icon-Label: '\e937';
$icon-LessonContent: '\e938';
$icon-Lightbulb: '\e939';
$icon-LineWeight: '\e93a';
$icon-Location: '\e93b';
$icon-Lock: '\e93c';
$icon-Map: '\e93d';
$icon-MenuHamburger: '\e93e';
$icon-MicOff: '\e93f';
$icon-MicOn: '\e940';
$icon-Minimize: '\e941';
$icon-More: '\e942';
$icon-Notification: '\e943';
$icon-OpenNew: '\e944';
$icon-Phone: '\e945';
$icon-Preview: '\e946';
$icon-Profile: '\e947';
$icon-Redo: '\e948';
$icon-Reload: '\e949';
$icon-Reset: '\e94a';
$icon-Save: '\e94b';
$icon-Screenshot: '\e94c';
$icon-Search: '\e94d';
$icon-Send: '\e94e';
$icon-Settings: '\e94f';
$icon-Share: '\e950';
$icon-Shop: '\e951';
$icon-Sidebar: '\e952';
$icon-SignOut: '\e953';
$icon-Sort: '\e954';
$icon-Submit: '\e955';
$icon-Subscription: '\e956';
$icon-Subtract: '\e957';
$icon-Test: '\e958';
$icon-TextBold: '\e959';
$icon-TextItalic: '\e95a';
$icon-TextUnderlined: '\e95b';
$icon-Thumbnail: '\e95c';
$icon-Time: '\e95d';
$icon-Undo: '\e95e';
$icon-VideocamOff: '\e95f';
$icon-VideocamOn: '\e960';
$icon-Visibility: '\e961';
$icon-VisibilityOff: '\e962';
$icon-Work: '\e963';
