---
import './style.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div class='about-us'>
  <div id='about-us' class='absolute top-[-82px]'></div>
</div>

<script></script>
