.pricing {
  @apply w-full min-h-screen flex flex-col justify-center lg:justify-start items-center relative 
  lg:bg-[url('/images/home-bg.svg')]
  bg-no-repeat bg-bottom bg-cover text-left p-4 lg:p-11 gap-6;
}

@media (max-width: 1024px) {
  .pricing {
    background-image: url('/images/home2-planet-1.svg'), url('/images/home2-bg-sm.svg');
    background-position: left -22px top 93px, top;
    background-repeat: no-repeat, no-repeat;
    background-size: 25%, auto 100vh;
  }
}
