.home {
  @apply w-full min-h-screen flex flex-col justify-center lg:justify-start items-center relative 
  lg:bg-[url('/images/home-bg.svg')]
  bg-no-repeat bg-bottom bg-cover text-white text-center p-4 lg:p-11 gap-8 lg:gap-6;
}
.imgShow {
  z-index: 1;
}
.imgHide {
  z-index: 0;
  filter: brightness(50%);
}
@media (max-width: 1024px) {
  .home {
    background-image: url('/images/home2-planet-1.svg'), url('/images/home2-planet-2.svg'),
      url('/images/home2-bg-sm.svg');
    background-position: left -22px top 93px, right -93px bottom 28px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 25%, 40%, cover;
  }
}
