.home {
  @apply w-full min-h-screen sm:h-screen sm:min-h-[800px] flex flex-col justify-center lg:justify-start items-center relative text-white text-center p-4 lg:p-11 gap-8 lg:gap-6;
  fill: radial-gradient(96.95% 86.24% at 50% 100%, #0f172a 18.15%, #1d44a8 55.89%, #202f65 72.19%, #0f172a 100%);

  background-image: url('/images/home-big-planet.svg'), url('/images/home2-planet-1.svg'),
    url('/images/home2-planet-2.svg'), url('/images/home-star.svg'), url('/images/home-bg.svg');
  background-position: top 35vh center, left 62px top 150px, right -141px bottom 90px, center center, center bottom; //, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 80vh, 25vh, 40vh, cover, cover;
}
.imgShow {
  z-index: 1;
}
.imgHide {
  z-index: 0;
  filter: brightness(50%);
}
@media (max-width: 1023px) {
  .home {
    background-image: url('/images/home2-planet-1.svg'), url('/images/home2-planet-2.svg'),
      url('/images/home2-bg-sm.svg');
    background-position: left -22px top 93px, right -93px bottom 28px, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 25%, 40%, cover;
  }
}
