---
import './home.scss';
export interface Props {
  l: any;
}

const { l } = Astro.props;
---

<div id='home'>
  <div class='h-10'></div>
  <div class='w-[782px] flex flex-col gap-6 items-center'>
    <h1 class=''>{l.home.whyNotSmarter}</h1>
    <p>{l.home.kyons}</p>
    <div class='flex flex-row gap-6'>
      <a href='#students' id='student-btn' class='btn large w-[280px]'>{l.btn.forStudents}</a>
      <a href='#schools' id='school-btn' class='btn green large w-[280px]'>{l.btn.forSchools}</a>
    </div>
  </div>
  <div class='w-full max-w-[620px] relative'>
    <img id='school-image' src='/images/school.png' class='absolute right-0 top-0 transition-all max-h-[50vh]' />
    <img id='student-image' src='/images/student.png' class='absolute left-0 top-14 transition-all max-h-[50vh]' />
  </div>
</div>

<script>
  function handleClick(number: number) {
    const screenHeight = window.innerHeight;
    window.scrollTo({
      top: screenHeight * number,
      behavior: 'smooth',
    });
  }
  const studentBtn = document.getElementById('student-btn')!;
  const studentImg = document.getElementById('student-image')!;
  const schoolBtn = document.getElementById('school-btn')!;
  const schoolImg = document.getElementById('school-image')!;

  // studentBtn events
  // studentBtn.addEventListener('click', () => handleClick(2));
  studentBtn.addEventListener('mouseover', () => {
    studentImg.classList.remove('imgHide');
    studentImg.classList.add('imgShow');
    schoolImg.classList.remove('imgShow');
    schoolImg.classList.add('imgHide');
  });
  studentImg.addEventListener('mouseover', () => {
    studentImg.classList.remove('imgHide');
    studentImg.classList.add('imgShow');
    schoolImg.classList.remove('imgShow');
    schoolImg.classList.add('imgHide');
  });

  // schoolBtn events
  // schoolBtn.addEventListener('click', () => handleClick(3));
  schoolBtn.addEventListener('mouseover', () => {
    studentImg.classList.remove('imgShow');
    studentImg.classList.add('imgHide');
    schoolImg.classList.remove('imgHide');
    schoolImg.classList.add('imgShow');
  });
  schoolImg.addEventListener('mouseover', () => {
    studentImg.classList.remove('imgShow');
    studentImg.classList.add('imgHide');
    schoolImg.classList.remove('imgHide');
    schoolImg.classList.add('imgShow');
  });
</script>
